numpy
matplotlib==3.9.2
pandas==2.2.3
geopandas==0.14.4
osmnx==1.9.4
requests==2.32.3
folium==0.19.1
shapely
scipy
networkx
pulp
plotly
ipywidgets
scikit-learn
pytest
urllib3
h3==3.7.7
pyogrio
pyarrow
dash
dash-bootstrap-components